[Container]
ContainerName=unbound-server
Image=docker.io/madnuttah/unbound:latest

Network=dns.network
AddHost=pihole:172.17.0.5
IP=172.17.0.20
Pod=unbound.pod

Volume=%h/.local/share/containers/storage/unbound/log.d/unbound.log:/usr/local/unbound/log.d/unbound.log:rw
Volume=%h/.local/share/containers/storage/unbound/conf.d:/usr/local/unbound/conf.d
Volume=%h/.local/share/containers/storage/unbound/unbound.conf:/usr/local/unbound/unbound.conf:ro
Volume=%h/.local/share/containers/storage/unbound/certs.d:/usr/local/unbound/certs.d
Volume=%h/.local/share/containers/storage/unbound/zones.d/:/usr/local/unbound/zones.d/:rw
Volume=%h/.local/share/containers/storage/unbound/root.hints:/usr/local/unbound/iana.d/root.hints:rw
Volume=%h/.local/share/containers/storage/unbound/root.zone:/usr/local/unbound/iana.d/root.zone
Environment=TZ=America/Boise
Environment=DISABLE_SET_PERMS=true

Memory=256m
HealthCmd=["/usr/local/unbound/sbin/healthcheck.sh", "unbound-healthcheck"]
HealthStartPeriod=15s
HealthInterval=60s
HealthTimeout=30s
HealthRetries=5
Notify=healthy

[Install]
WantedBy=default.target

[Service]
Restart=always
